.cjkq
{
	--neutralColor:#000;
	--neutralBorderColor:#000;
	--neutralBackground:#fff;
	--badCharacterColor:#fff;
	--badTranscriptionColor:#fff;
	--badTranslationColor:#fff;
	--badBorderColor:#900;
	--badBackground:#900;
	--badSolutionColor:#900;
	--badSolutionBorderColor:#fff;
	--badSolutionBackground:#fff;
	--goodCharacterColor:#fff;
	--goodTranscriptionColor:#fff;
	--goodTranslationColor:#fff;
	--goodBorderColor:#090;
	--goodBackground:#090;
	--goodSolutionColor:#090;
	--goodSolutionBorderColor:#fff;
	--goodSolutionBackground:#fff;
	--selectedCharacterColor:#fff;
	--selectedTranscriptionColor:#fff;
	--selectedTranslationColor:#fff;
	--selectedBorderColor:#f90;
	--selectedBackground:#f90;
	--initialCharacterColor:#fff;
	--initialCharacterBorderColor:#009;
	--initialCharacterBackground:#009;
	--initialTranscriptionColor:#fff;
	--initialTranscriptionBorderColor:#909;
	--initialTranscriptionBackground:#909;
	--initialTranslationColor:#fff;
	--initialTranslationBorderColor:#666;
	--initialTranslationBackground:#666;
}
.cjkq.light
{
	--neutralColor:#000;
	--neutralBorderColor:#000;
	--neutralBackground:#ddd;
	--badCharacterColor:#900;
	--badTranscriptionColor:#090;
	--badTranslationColor:#009;
	--badBorderColor:#fcc;
	--badBackground:#fcc;
	--goodCharacterColor:#900;
	--goodTranscriptionColor:#090;
	--goodTranslationColor:#009;
	--goodBorderColor:#cfc;
	--goodBackground:#cfc;
	--selectedCharacterColor:#900;
	--selectedTranscriptionColor:#090;
	--selectedTranslationColor:#009;
	--selectedBorderColor:#ffc;
	--selectedBackground:#ffc;
	--initialCharacterColor:#900;
	--initialCharacterBorderColor:#eee;
	--initialCharacterBackground:#eee;
	--initialTranscriptionColor:#090;
	--initialTranscriptionBorderColor:#eee;
	--initialTranscriptionBackground:#eee;
	--initialTranslationColor:#009;
	--initialTranslationBorderColor:#eee;
	--initialTranslationBackground:#eee;
}
.cjkq .plonk
{
	filter:invert(1);
}
.cjkq .solution
{
	position:absolute;
	display:block;
	top:0;
	right:0;
	font-size:0.5rem;
	font-weight:bold;
	border-radius:50%;
	width:0.75rem;
	height:0.75rem;
	line-height:0.75rem;
	text-align:center;
}
.cjkq .good .solution
{
	background:var(--goodSolutionBackground);
	border:1px solid var(--goodSolutionBorderColor);
	color:var(--goodSolutionColor);
}
.cjkq .bad .solution
{
	background:var(--badSolutionBackground);
	border:1px solid var(--badSolutionBorderColor);
	color:var(--badSolutionColor);
}
.cjkq em
{
	font-size:0.75rem;
}
.cjkq em a
{
	color:#000;
}
.cjkq .pad
{
	display:grid;
	grid-template-columns:repeat(3,1fr); 
	gap:1px;
	justify-content:center;
	margin:0.125rem auto;
	max-width:calc(2px + 42rem);
}
.cjkq.light .pad
{
	gap:2px;
}
.cjkq .tile
{
	background:var(--neutralBackground);
	position:relative;
	border:1px solid var(--neutralBorderColor);
	border-radius:0.25rem;
    min-height:2rem;
	display:flex;
    align-items:center;
    justify-content:center;
    overflow:hidden;
}
.cjkq .tile:hover::after
{
	content:attr(data-v);
	position:absolute;
	right:0;
	bottom:0;
	z-index:1000;
}
.cjkq .tile:hover:not(:empty)
{
	cursor:pointer;
}
.cjkq .tile[data-t='character']
{
	color:var(--initialCharacterColor);
	border-color:var(--initialCharacterBorderColor);
	background:var(--initialCharacterBackground);
	font-size:1.25rem;
}
.cjkq .tile[data-t='transcription']
{
	color:var(--initialTranscriptionColor);
	border-color:var(--initialTranscriptionBorderColor);
	background:var(--initialTranscriptionBackground);
	font-size:1rem;
}
.cjkq .tile[data-t='translation']
{
	color:var(--initialTranslationColor);
	border-color:var(--initialTranslationBorderColor);
	background:var(--initialTranslationBackground);
    -webkit-hyphens:auto;
    hyphens:auto;
	font-size:0.875rem;
}
.cjkq .tile.selected
{
	background:var(--selectedBackground);
	border-color:var(--selectedBorderColor);
}
.cjkq .tile.selected[data-t='character']
{
	color:var(--selectedCharacterColor);
}
.cjkq .tile.selected[data-t='transcription']
{
	color:var(--selectedTranscriptionColor);
}
.cjkq .tile.selected[data-t='translation']
{
	color:var(--selectedTranslationColor);
}
.cjkq .tile.bad
{
	background:var(--badBackground);
	border-color:var(--badBorderColor);
}
.cjkq .tile.bad[data-t='character']
{
	color:var(--badCharacterColor);
}
.cjkq .tile.bad[data-t='transcription']
{
	color:var(--badTranscriptionColor);
}
.cjkq .tile.bad[data-t='translation']
{
	color:var(--badTranslationColor);
}
.cjkq .tile.good
{
	background:var(--goodBackground);
	border-color:var(--goodBorderColor);
}
.cjkq .tile.good[data-t='character']
{
	color:var(--goodCharacterColor);
}
.cjkq .tile.good[data-t='transcription']
{
	color:var(--goodTranscriptionColor);
}
.cjkq .tile.good[data-t='translation']
{
	color:var(--goodTranslationColor);
}
.cjkq .alertDialog button
{
	font-size:1rem;
	margin:0.25rem;
	min-width:2rem;
}

