body
{
	background:#fff;
	font-family:sans-serif;
	text-align:center;
	margin:0;
	padding:0.25rem;
}
.selector
{
	display:block;
	margin:0 auto;
	padding:0;
	text-align:center;
	list-style-type:none;
}
.selector.settings img
{
	display:block;
	border:1px solid #ccc;
}
.selector li
{
	display:inline-block;
	margin:0;
	padding:0;
}
.selector.settings li button,
.selector.action li button
{
	border:0;
	background:transparent;
	margin:0;
	padding:0;
}
.selector.ja li button,
.selector.zh li button
{
	font-size:1em;
	margin:0.25em;
	min-width:2em;
}
.settingsDialog
{
	font-size:1em;
}
.settingsDialog fieldset,
.settingsDialog label,
.settingsDialog button
{
	margin:0.25em;
}
.settingsDialog .numOfChars,
.settingsDialog .timePerChar
{
	display:flex;
	justify-content:space-between;
}
.settingsDialog .reorderAtEnd,
.settingsDialog .addSolutionAtEnd,
.settingsDialog .displayMode,
.settingsDialog .tileOrder
{
	display:flex;
	justify-content:start;
}
.settingsDialog label span
{
	margin:0 0.25em;
}

[onclick] {cursor:pointer;}