body
{
	background:#fff;
	font-family:sans-serif;
	text-align:center;
}
.selector
{
	display:block;
	margin:0 auto;
	padding:0;
	text-align:center;
}
.selector.settings img
{
	display:block;
	border:1px solid #ccc;
}
.selector li
{
	display:inline-block;
	margin:0;
	padding:0;
	list-style-type:none;
}
.selector.settings li button,
.selector.action li button
{
	border:0;
	background:transparent;
	margin:0;
	padding:0;
}
.selector.ja li button,
.selector.zh li button,
.settingsDialog button
{
	font-size:1em;
	margin:0.25em;
	min-width:2em;
}
.settingsDialog label
{
	display:flex;
	justify-content:space-between;
	margin:0.25em;
	text-align:left;
}
.settingsDialog label span
{
	margin:0 0.25em;
}
.settingsDialog label:first-of-type
{
	justify-content:start;
}
[onclick] {cursor:pointer;}